<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Home</title>
</head>
<body>
 <p>link shortner</p> 

 <form action="/url" method="POST" onsubmit="return false">
   <input type="text" placeholder="url" name="url">
   <input type="text" placeholder="slug" name="slug">
   <button type="submit">Short</button>
 </form>
 <pre><code id="result"><%= locals.result %></code></pre>
</body>
</html>
